{% extends "base.html" %}

{% block content %}
<div class="card shadow p-4">
    <h2 class="text-center mb-4">Kayıt Ol</h2>

    <form method="POST">
        <div class="mb-3">
            <label>Kullanıcı Adı</label>
            <input type="text" name="username" class="form-control" required>
        </div>

        <div class="mb-3">
            <label>Email</label>
            <input type="email" name="email" class="form-control" required>
        </div>

        <div class="mb-3">
            <label>Şifre</label>
            <input type="password" name="password" class="form-control" required>
        </div>

        <button class="btn btn-success w-100">Kayıt Ol</button>
    </form>
</div>
{% endblock %}
